@model IEnumerable<MotoFanpage.Models.Ogólne.Pojazd>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profil.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Przebieg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RokProdukcji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuctionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profil.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Przebieg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RokProdukcji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuctionId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
