@model IEnumerable<MotoFanpage.Models.Logi>


<table class="table">
    <tr>
        <th>
           Ip Adress
        </th>
        <th>
            Data
        </th>
        <th>
           Instrukcja
        </th>
        <th>
            Id Elementu
        </th>
        <th>
           Rodzaj Elementu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IpAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instruction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdElement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhatElement)
        </td>
       
    </tr>
}

</table>
